#map {
    height: 500px;
    width: 500px;
}

input {
    height: 20px;
    width: 300px;
    margin-bottom: 20px
}

.feature-information-popup {
    min-width: 180px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}